* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: rgba(20, 37, 71, 1);
  color: #f0f4ff;
}
main,
section:first-of-type {
  padding-top: 80px; /* Adjust according to your header's height */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: rgba(20, 37, 71, 1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}
.Hjem {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 10px 15px;
  position: relative;
  transition: color 0.3s ease;
}
.Hjem:hover {
  color: #7b0c4f;
  background: linear-gradient(45deg, rgb(169, 43, 200), rgb(159, 21, 95));
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease-in-out;
  transform: scale(1.2);
}
.nav-bar {
  display: flex;
  gap: 20px;
  font-size: 30px;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 10px 15px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-bar a:hover,
.nav-bar a.active {
  color: #7b0c4f;
  background: linear-gradient(45deg, rgb(169, 43, 200), rgb(159, 21, 95));
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease-in-out;
  transform: scale(1.2);
}

.nav-bar a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #7b0c4f;
  transition: 0.3s ease;
  transform: translateX(-50%);
}

.nav-bar a:hover::after,
.nav-bar a.active::after {
  width: 100%;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .nav-bar {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nav-bar a {
    padding: 8px 12px;
  }
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
#hero {
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(34, 54, 102, 1),
    rgba(20, 37, 71, 1)
  );
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 100px 10%;
  animation: shimmerBackground 2s infinite ease-in-out;
  @keyframes shimmerBackground {
    0% {
      background: linear-gradient(
        135deg,
        rgba(34, 54, 102, 1),
        rgba(20, 37, 71, 1)
      );
    }
    50% {
      background: linear-gradient(
        135deg,
        rgba(20, 37, 71, 0.7),
        rgba(34, 54, 102, 0.7)
      );
    }
    100% {
      background: linear-gradient(
        135deg,
        rgba(34, 54, 102, 1),
        rgba(20, 37, 71, 1)
      );
    }
  }
}
.hero-content {
  position: relative;
  line-height: 1;
  z-index: 2;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 4px 6px rgba(201, 110, 213, 0.6);
}
.hero-content h1 {
  font-size: 100px;
  font-weight: 1000;
  font-style: oblique;
  font-family: "Port Lligat Slab", serif;
  background: linear-gradient(
    135deg,
    rgb(159, 21, 95) 30%,
    rgba(148, 93, 214, 1) 65%,
    rgb(159, 21, 95) 90%
  );
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.3s;
  transition: all 0.3s ease-in-out;
}
.hero-content h1:hover {
  transform: scale(1.05);
  /* text-shadow: 0px 8px 20px rgba(148, 93, 214, 0.8); */
}
.hero-content h3 {
  font-size: 50px;
  font-weight: 500;
  font-style: semibold;
  margin-top: 15px;

  color: #ddd;
  padding-left: 80px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.hero-content p {
  font-size: 18px;
  margin: 20px 0 40px;
  font-weight: 400px;
  color: rgba(255, 255, 255, 0.8);
  /* opacity: 0; */
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.3s;
}
.hero-content h1:hover {
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(19, 173, 199, 1),
    rgba(148, 93, 214, 1),
    rgba(105, 120, 209, 1)
  );
  background-clip: content-box;
  -webkit-background-clip: text;
}
.bx {
  color: blueviolet;
  padding-top: 50px;
  width: 50px;
}
.Ellipse {
  position: absolute;
  top: 450px;
  bottom: 100px;
  left: 350px;
  animation: zoomPulse 4s ease-in-out infinite;
}

@keyframes zoomPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.balls1 {
  position: absolute;
  top: 120px;
  right: 300px;
  animation: pulse 2s infinite ease-in-out;
}
.balls1 img {
  display: block;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

html {
  scroll-behavior: smooth;
}
.arrow {
  position: absolute;
  top: 80%;
  bottom: 10px;
  text-align: center;
  cursor: pointer;
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;

  border-radius: 50%;
  transition: transform 0.3s ease, background 0.3s ease;
}
.arrow:hover {
  transform: translateX(-50%) scale(1.2);
}

/* Bouncing Animation */
/* @keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
} */

.arrow {
  animation: bounce 2s infinite ease-in-out;
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes circleRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(36deg);
  }
}

/* Tablets (iPad) - Medium Screens */
@media (max-width: 1024px) {
  .name {
    font-size: 45px;
  }

  .nav-bar a {
    font-size: 16px;
    margin-left: 25px;
  }

  .hero-content h1 {
    font-size: 80px;
  }

  .hero-content h3 {
    font-size: 40px;
    padding-left: 40px;
  }

  .hero-content p {
    font-size: 16px;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  header {
    padding: 15px 5%;
  }

  .name {
    font-size: 35px;
  }

  .nav-bar a {
    font-size: 14px;
    margin-left: 15px;
  }

  #hero {
    height: auto;
    padding-top: 400px;
  }

  .hero-content {
    max-width: 90%;
  }

  .hero-content h1 {
    font-size: 60px;
  }

  .hero-content h3 {
    font-size: 30px;
    padding-left: 20px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .Ellipse {
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
  }
}

/* Small Mobile Devices */
@media (max-width: 480px) {
  .name {
    font-size: 28px;
  }

  .nav-bar a {
    font-size: 12px;
    margin-left: 10px;
  }

  .hero-content h1 {
    font-size: 50px;
  }

  .hero-content h3 {
    font-size: 25px;
    padding-left: 10px;
  }

  .hero-content p {
    font-size: 12px;
  }
}
