#Technology-page {
  z-index: 1;
  position: relative;
  padding: 50px 20px;
}

#Technology-page h1 {
  background: linear-gradient(45deg, rgb(169, 43, 200), rgb(159, 21, 95));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  opacity: 1;
  animation: fadeInDown 1s ease forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Technology {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}
.icon-frame {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  flex-shrink: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(20px);
  /* transition: transform 0.3s ease-in-out; */
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(20px);
  }
}

.Technology .icon-frame:nth-child(1) {
  animation-delay: 1s;
}
.Technology .icon-frame:nth-child(2) {
  animation-delay: 1.2s;
}
.Technology .icon-frame:nth-child(3) {
  animation-delay: 1.4s;
}
.Technology .icon-frame:nth-child(4) {
  animation-delay: 1.6s;
}
.Technology .icon-frame:nth-child(5) {
  animation-delay: 1.8s;
}
.Technology .icon-frame:nth-child(6) {
  animation-delay: 2s;
}

.icon-frame:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
}
.icon-frame img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.icon-frame h3 {
  font-size: 16px;
  color: #f8f9fa;
  font-weight: bold;
  margin: 0;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 1024px) {
  #Technology-page h1 {
    font-size: 3rem;
  }

  .Technology {
    gap: 15px;
  }

  .icon-frame {
    width: 90px;
    height: 90px;
  }

  .icon-frame img {
    width: 35px;
  }

  .icon-frame h3 {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  #Technology-page h1 {
    font-size: 2.5rem; /* Smaller heading */
  }

  .Technology {
    flex-wrap: wrap;
    gap: 10px;
  }

  .icon-frame {
    width: 80px;
    height: 80px;
  }

  .icon-frame img {
    width: 30px;
  }

  .icon-frame h3 {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  #Technology-page h1 {
    font-size: 2rem;
  }

  .Technology {
    gap: 8px;
  }

  .icon-frame {
    width: 70px;
    height: 70px;
  }

  .icon-frame img {
    width: 25px;
  }

  .icon-frame h3 {
    font-size: 11px;
  }
}
