.Technology-page {
  /* padding-top: 80px; */
  /* margin-top: 80px; */
  z-index: 1;
  position: relative;
}

.Technology-page h1 {
  background: linear-gradient(45deg, rgb(169, 43, 200), rgb(159, 21, 95));
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  text-align: center;
  /* padding-bottom: 20px; */
  /* top: -50px; */
  /* Juster avstand fra toppen */
  /* left: 50%;
  padding: 60px 0;
  transform: translateX(-50%); */
}

.Technology {
  width: 100%;
  /* height: 50vh; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 5px;
  /* padding: 50px 20px; */
  /* background-color: #f8f9fa; */
  padding-top: 30px;
  /* overflow-x: auto; */
  /* scrollbar-width: none; */
  /* white-space: nowrap; */
  /* border: 2px solid red; */
}
.icon-frame {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* 
  
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  flex-shrink: 0;
  /* border: 2px solid transparent; */
  /* border-image-source: linear-gradient(90deg, #13adc7, #945dd6); */
  /* border-image-slice: 1; */
  /* background-color: white; */
  overflow: hidden;
}

.icon-frame:hover {
  transform: scale(1.1);
}
.icon-frame img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}
.icon-frame h3 {
  font-size: 16px;
  color: #f8f9fa;
  font-weight: bold;
  margin: 0;
}

/* 📱 For små skjermer (mobil) */
@media (max-width: 600px) {
  .Technology-page {
    height: auto;
    padding-bottom: 50px 0;
  }

  .Technology-page h1 {
    font-size: 2.5rem;
    /* top: 10px; */
    /* padding: 20px 0; */
  }

  .Technology {
    flex-wrap: wrap; /* Endrer til wrap for å unngå horisontal scrolling */
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
    height: auto;
  }

  .icon-frame {
    width: 90px;
    height: 90px;
  }

  .icon-frame img {
    width: 40px;
  }

  .icon-frame h3 {
    font-size: 14px;
  }
}

/* 📏 For nettbrett (mellomstore skjermer) */
@media (max-width: 900px) {
  .Technology {
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 150px;
  }

  .Technology-page h1 {
    font-size: 3rem;
    top: 0px;
  }

  .icon-frame {
    width: 100px;
    height: 100px;
  }

  .icon-frame img {
    width: 45px;
  }

  .icon-frame h3 {
    font-size: 15px;
  }
}

/* 💻 For store skjermer (f.eks. widescreen) */
@media (min-width: 1200px) {
  .Technology {
    max-width: 1100px;
    margin: 0 auto;
    gap: 50px;
  }

  .icon-frame {
    width: 130px;
    height: 130px;
  }

  .icon-frame img {
    width: 55px;
  }

  .icon-frame h3 {
    font-size: 18px;
  }
}
